<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <!-- Standar Form -->
                    <h4>Select files from your computer</h4>
                    <a href="http://127.0.0.1:8000/image_upload/"> Upload File </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="background-color: antiquewhite">
            <h3> Kết quả </h3>
        </div>
    </div>
 

</div> <!-- /container -->
